<?php

return [
    'utf8-convert' => [
        'convert' => [
            'fetch-limit' => 1000,
            'blacklist-tables' => [
            ],
            'whitelist-tables' => [
            ],
        ],
    ],
    'doctrine' => [
        'connection' => [
            // Connection for the utf8convert database
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'user'  => 'root',
                    'password'  => '123',
                    'host'  => 'mysql',
                    'dbname'  => 'utf8convert',
                    'port'  => 3306,
                    'charset'  => 'utf8mb4',
                ],
            ],
        ],
    ],
    'db' => [
        'adapters' => [
            // Connection for the target database
            'database' => [
                'driver' => 'Mysqli',
                'hostname' => 'mysql',
                'database' => 'etreedb',
                'username' => 'root',
                'password' => '123',
                'charset' => 'utf8mb4',
                'options' => [
                    'buffer_results' => true,
                ],
            ],
            // Connection to the information_schema database on the target database server
            'information-schema' => [
                'driver' => 'Mysqli',
                'host' => 'mysql',
                'database' => 'information_schema',
                'username' => 'root',
                'password' => '123',
                'charset' => 'utf8mb4',
                'options' => [
                    'buffer_results' => true,
                ],
            ],
        ],
    ],
];
