<?php
return array(
    'db' => array(
        'adapters' => array(
            'database' => array(
                'driver' => 'Mysqli',
                'database' => 'etree',
                'username' => 'root',
                'charset' => 'utf8',
            ),
            'information-schema' => array(
                'driver' => 'Mysqli',
                'database' => 'information_schema',
                'username' => 'root',
                'charset' => 'utf8',
                'options' => array(
                    'buffer_results' => true,
                ),
            ),
        ),
    ),
);
