<?php
$ormParams = [
    'database'  => 'utf8convert',
    'username'  => 'root',
    'password'  => '123',
    'hostname'  => 'localhost',
    'port'  => '3306',
];

return array(
    'utf8-convert' => array(
        'convert' => array(
            'fetch-limit' => 1000,
            'blacklist-tables' => array(
            ),
            'whitelist-tables' => array(
            ),
        ),
        'refactor' => array(
            'blacklist-tables' => array(
                'artist_groups_seq',
                'artists_seq',
                'auth_user_seq',
                'md5s_seq',
                'myshows_seq',
                'shninfo_seq',
                'shows_seq',
                'states_seq',
                'tips_seq',
                'venue_seq',
            ),
            'whitelist-tables' => array(
#                'artists',
            ),
            'data-types' => array(
                'varchar' => 'varchar(255)',
                'char' => 'varchar(255)',
                'enum' => 'varchar(255)',
                'text' => 'longtext',
                'mediumtext' => 'longtext',
                'longtext' => 'longtext',
            ),
        ),
    ),
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'database'  => $ormParams['database'],
                    'user'  => $ormParams['username'],
                    'password'  => $ormParams['password'],
                    'host'  => $ormParams['hostname'],
                    'dbname'  => $ormParams['database'],
                    'port'  => $ormParams['port'],
                    'charset'  => 'utf8',
                ),
            ),
        ),
    ),
    'db' => array(
        'adapters' => array(
            'database' => array(
                'driver' => 'Mysqli',
                'hostname' => 'localhost',
                'database' => 'etreedb',
                'username' => 'root',
                'password' => '123',
                'charset' => 'utf8',
                'options' => array(
                    'buffer_results' => true,
                ),
            ),
            'information-schema' => array(
                'driver' => 'Mysqli',
                'host' => 'localhost',
                'database' => 'information_schema',
                'username' => 'root',
                'password' => '123',
                'charset' => 'utf8',
                'options' => array(
                    'buffer_results' => true,
                ),
            ),
        ),
    ),
);
